body {
  background: black ;
}
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}
.header .logo {
  height: 70px;
}
.head-links{
 font-size: 20px;
 list-style: none;
 display: flex;
 gap: 1em;
}
.head-links a {
  color: #000;
  text-decoration: none;
}
.head-links a:hover{
  transition-duration: .5s;
color: lightgrey;
}

.Title{
  text-align: center;
  color: ghostwhite;
}

.row1{
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.info-box{
  text-align: center;
  max-width: 50em;
  color: ghostwhite;
}
.info-box img {
  width: 200px; 
  height: 200px; 
  object-fit: cover; 
  margin-bottom: 7px;
}
.info-box img:hover{
  transition-duration: 2s;
  opacity: .25;
}
.about{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.about h1{
  font-size: 34px;
}
.about div{
  max-width: 18em;
}
.button {
  border: lightgrey;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin: 0px 0px;
  transition-duration: 1s;
  cursor: pointer;

}
.button {
  background-color: ghostwhite; 
  color: black; 
  border: 2px solid ghostwhite;
}
.button:hover {
  background-color: black;
  color: white;
}
.bottom {
  text-align: center;
}
.info {
  text-align: center;
  color: white;
  justify-content: center;
}
.wish {
  text-align: center;
  color: white;
  justify-content: center;
}
.wish img {
  align-items: center;
  justify-content: center;
  width: 1000px; 
  height: 1000px; 
  object-fit: cover; 
  margin-bottom: 5px;
}
.homebutton {
  border: lightgrey;
  color: white;
  padding: 1px 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 0px 0px;
  transition-duration: 1s;
  cursor: pointer;

}
.homebutton {
  background-color: black; 
  color: white; 
  border: .1px solid darkgrey;
}
.homebutton:hover {
  background-color: black;
  color: black;
  border: black;